* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.flex {
    display: flex;
}

.disable {
    display: none;
}

.featured-items {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.featured-items__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 4px;
    text-align: center;
}

.featured-items__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
    margin-bottom: 48px;
    text-align: center;
    color: #9F9F9F;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: 30px;
}

.grid-rev {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 30px;
}

.product {
    position: relative;
    max-width: 360px;
    background: #F8F8F8;
}

.product__content {
    padding: 25px 16px;
}

.product__name {
    padding-bottom: 8px;
}

.product__description {
    color: #5D5D5D;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product__price {   
    color: #F16D7F;
    padding-top: 8px;
}

.product__cart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 360px;
    max-height: 420px;
    background-color: #2c2c2c;
    opacity: 70%;
    z-index: 1;
}

.product__button {
    border: 1px solid #FFFFFF;
    background: transparent;
    padding: 10px 13px;
    align-items: center;
    gap: 5px;
    margin: 47% 31.5%;
}

.product__button:disabled {
    background: black;
}

.button__span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.cart {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding-top: 50px;
}

.cart__txt {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.item {
    gap: 30px;
    background: #faf0f2;
}

.item__img {
    max-width: 262px;
}

.item__content {
    flex-direction: column;
    gap: 18px;
    margin-top: 22px;
}

.item__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 36px;
}

.item__price {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.item__value {
    color: #F16D7F;
}

.item__quantity-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.item__quantity {
    margin-left: 5px;
    max-width: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    border: none;
}

.item__cross {
    width: 18px;
    align-self: baseline;
    margin: 15px;
}